@model ShopTARgv24.Models.Kindergarten.KindergartenCreateUpdateViewModel

@{
    string title = Model.KindergartenId == Guid.Empty ? "Create" : "Update";
    ViewData["Title"] = title;
}

<h1>@title Kindergarten</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="@title" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (title == "Update")
            {
                <input type="hidden" asp-for="KindergartenId" />
            }

            <div class="form-group mb-3">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ChildrenCount" class="control-label"></label>
                <input asp-for="ChildrenCount" class="form-control" />
                <span asp-validation-for="ChildrenCount" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="KindergartenName" class="control-label"></label>
                <input asp-for="KindergartenName" class="form-control" />
                <span asp-validation-for="KindergartenName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="TeacherName" class="control-label"></label>
                <input asp-for="TeacherName" class="form-control" />
                <span asp-validation-for="TeacherName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Files" class="control-label"></label>
                <input asp-for="Files" type="file" class="form-control" multiple />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* Этот раздел отвечает за отображение существующих изображений *@
@if (Model.Images.Any())
{
    <partial name="_Images" model="Model" />
}

<div class="mt-3">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}