@model ShopTARgv24.Models.RealEstate.ImageViewModel

<div class="form-group row col-sm-4 col-sm-4 offset-2">
    <div>@Model.ImageTitle</div>
    <img src="card-img-top" src="@Model.Image" asp-append-version="true">
</div>